---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}
<div class="card" style="width: 100rem;">
  <!--<img class="card-img-top" src="..." alt="Card image cap">-->
  <div class="card-body">
    <h3 class="card-title">Categories</h3>
    <p class="card-text">

        {% assign tags_list = site.tags %}
        {% include JB/tags_list %}

    </p>
  </div>
</div><br>

{% for tag in site.tags %}
  <span class="badge" id="{{ tag[0] }}-ref">{{ tag[0] }}</span>
  <ul>
    {% assign pages_list = tag[1] %}
    {% include JB/pages_list %}
  </ul>
{% endfor %}
